table(width=max_w align="center" class="mobile-table")&attributes(tableAtt)
  tr
    td(align="center" style="font-size:13px; background-color: #ffffff;" bgcolor=dark_gray width=max_w)
      <!--[if !mso]><!-->
      table(width=max_w align="center" style="display:none" class="mobile-table mobile-show")&attributes(tableAtt)
        tr
          td(align="center" width=max_w)
            img(src=img_path+"image_banner.jpg" width="351" height="300" class="full-screen")
        tr
          td(align="center" width=max_w)
            include info_content.pug
      <!--<![endif]-->
      table(width=max_w align="center" class="mobile-table mobile-hide")&attributes(tableAtt)
        tr
          td(align="center" width=max_w)
            table(width=max_w align="center" class="mobile-table" bgcolor=dark_gray)&attributes(tableAtt)
              tr
                td(align="center" class="f_normal" width="max_w")
                  include info_content.pug
                td(align="center" class="f_normal")
                  img(src=img_path+"image_banner.jpg" width="351" height="300" class="full-screen")
  +vSpacer(28)
  tr
    td
      table(width=max_w align="center" class="mobile-table" style="background-color: #ffffff;")&attributes(tableAtt)
        tr
          td
            <!--[if !mso]><!-->
            table(width=max_w align="center" style="display:none" class="mobile-table mobile-show")&attributes(tableAtt)
              tr
                td
                  table(width=max_w align="center" class="mobile-table")&attributes(tableAtt)
                    tr
                      td(align="center" class="f_normal" width=max_w)
                        img(class="full-screen" src=img_path+"example_image.png" width="280" height="140")
                    +vSpacer(20)
                    tr
                      td
                        table(width=max_w align="center" class="mobile-table")&attributes(tableAtt)
                          tr
                            +hSpacer(20)
                            td(align="center" class="f_normal" width=max_w)
                              +infoCard('Your Heading Goes Here', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.', 'url', 'Learn More')
                            +hSpacer(20)
            <!--<![endif]-->
            table(width=max_w align="center" class="mobile-table mobile-hide")&attributes(tableAtt)
              tr
                td(align="center" class="f_normal")
                  img(src=img_path+"example_image.png" width="280" height="140")
                +hSpacer(32)
                td(align="left" class="f_normal" width="262")
                  +infoCard('Your Heading Goes Here', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.', 'url', 'Learn More')
                +hSpacer(30)
  +vSpacer(28)
  tr
    td(align="center" style=`font-size:18px; color: ${dark_gray}`) Full width text block Content
  +vSpacer(25)
  tr
    td(align="center")
      table(width=max_w align="center" class="mobile-table")&attributes(tableAtt)
        tr
          +hSpacer(5)
          td(align="left" style=`font-size:14px; line-height:24px; color: ${light_gray}`) Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod Tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          +hSpacer(5)
  +vSpacer(50)
  tr
    td
      table(width=max_w align="center" class="mobile-table; background-color: #ffffff;")&attributes(tableAtt)
          tr
            td
              <!--[if !mso]><!-->
              table(width=max_w align="center" style="display:none;" class="mobile-table mobile-show")&attributes(tableAtt)
                tr
                  td( width=max_w align="center" class="f_normal")
                    img(class="full-screen" src=img_path+"example_image.png" width="280" height="140")
                +vSpacer(20)
                tr
                  td
                    table
                      +hSpacer(20)
                      td(align="left" width=max_w)
                        +infoCard('Your Heading Goes Here', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.', 'url', 'Learn More')
                      +hSpacer(20)
                  +hSpacer(32)
              <!--<![endif]-->
              table(width=max_w align="center" class="mobile-table mobile-hide")&attributes(tableAtt)
                tr
                  td(align="left" width="262")
                    +infoCard('Your Heading Goes Here', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.', 'url', 'Learn More')
                  +hSpacer(32)
                  td(align="center" class="f_normal")
                    img(src=img_path+"example_image.png" width="280" height="140")
          +vSpacer(32)
