table(width=max_w align="center" class="mobile-table")&attributes(tableAtt)
  tr
    td(width=max_w align="center" style=`background-color: ${ yellow };` bgcolor=white)
      table(width=max_w align="center")&attributes(tableAtt)
        +vSpacer(7)
        tr
          td
            table(width=max_w align="center" class="mobile-table")&attributes(tableAtt)
              tr
                +hSpacer(220)
                td(align="center" width="43" height="42" class="f_normal")
                  img(src=img_path+"facebook.png" width="43" height="42" style="display: block; border: 0px;")
                +hSpacer(14)
                td(align="center" width="43" height="42" class="f_normal")
                  img(src=img_path+"twitter.png" width="43" height="42" style="display: block; border: 0px;")
                +hSpacer(14)
                td(align="center" width="43" height="42" class="f_normal")
                  img(src=img_path+"linkedin.png" width="43" height="42" style="display: block; border: 0px;")
                +hSpacer(220)
        +vSpacer(7)
  +vSpacer(15)
  tr
    td(align="center" bgcolor=white style=`font-size:13px; color: ${ dark_gray }`) Don't want to receive email Updates?
      a(style=`color: ${yellow};`) &nbsp; Unsubscribe here
  +vSpacer(35)
