table(align="center" class="mobile-table" bgcolor=dark_gray)&attributes(tableAtt)
  tr
    td
      table(align="center" class="mobile-table" bgcolor=dark_gray)&attributes(tableAtt)
        +hSpacer(20)
        td
          table(align="center" class="mobile-table" bgcolor=dark_gray)&attributes(tableAtt)
            +vSpacer(85)
            tr
              td(align="left" style=`font-size:24px; font-weight: bold; line-height:36px; color:${white};`) #{ content.info_content }
            +vSpacer(38)
            tr
              td
                table(align="center" class="mobile-table" bgcolor=dark_gray)&attributes(tableAtt)
                  tr
                    +hSpacer(5)
                    td(align="center" valign="center" width="150" height=40 bgcolor=yellow style="border-radius: 5px;")
                      a(href="" style=`font-size:18px; line-height: 40px; font-weight: bold; color:${dark_gray}; text-decoration:none`) Buy Now
                    +hSpacer(5)
            +vSpacer(29)
        +hSpacer(20)
